snippet (f "Script " b
(function ($1) {
	'use strict';

	$2

}());
endsnippet

snippet fun "Function" w
function ${1:functionName}($2) {
	$3
}
endsnippet

##########
# For Gulp
##########

snippet gpt "Gulp task" b
gulp.task(${1:name}, ${2:tasks}, function() {
	${3:// Instructions}
});
endsnippet
