extends html

snippet fun "function" i
function ${1:funName}(${2:param}) {
	$3
}
endsnippet

snippet <= "Short open tag" i
<?= $1; ?>
endsnippet

snippet G "$_GET" i
$_GET['$1']
endsnippet

snippet S "$_SERVER" i
$_SERVER['$1']
endsnippet

snippet SS "$_SESSION" i
$_SESSION['$1']
endsnippet
