snippet #! "Sha-bang" b
#!/bin/${1:bash}
endsnippet

snippet ## "Comment bloc" b
# #####################
#		${1:...}
# #####################
endsnippet

snippet fun "function" b
${1:functionName}() {
	${2:...}
}
endsnippet

snippet alias "Bash alias" b
alias ${1:aliasName}='${2:aliasCmd}'
endsnippet
