snippet change "Github changelog block" b
v${1} <small>(`!p
from datetime import date
snip.rv = date.today().strftime("%Y-%m-%d")`)</small>
------------------------------

* ${2}

------------------------------
endsnippet
