snippet change "Github changelog block" b
${1} <small>(`!v strftime('%Y-%m-%d')`)</small>
------------------------------

* ${2}

------------------------------
endsnippet

snippet table "A table" b
| ${1:...}                  | ${2:...}                  |
| ------------------------- | ------------------------- |
| ${3:...}                  | ${4:...}                  |
endsnippet
