snippet dark "darken(color, %perc)" i
darken(${1}, ${2})
endsnippet

snippet light "lighten(color, %)" i
lighten(${1}, ${2})
endsnippet

snippet bxs "box-shadow(color, h-offset, v-offset, blur, spread, inset)" i
box-shadow(${1}, ${2}px, ${3}px, ${4}px, ${5}, ${6})
endsnippet

snippet txts "text-shadow(color, h-offset, v-offset, blur, spread)" i
text-shadow(${1}, ${2}px, ${3}px, ${4}px, ${5})
endsnippet
