##############
#  Basics
##############

snippet class "class block" b
class ${1} ${2:extends ${3}} {
    ${4}
}
endsnippet

snippet req "require" b
const ${1} = require('${2}$1')
endsnippet

snippet f "function" w
function ${1}(${3}) {
    ${4}
}
endsnippet

snippet fa "arrow function" w
${1:(${2})} => ${3:{${4}}}
endsnippet
